/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;
  margin: 0;
  min-width: var(--dom--min-width);
  min-height: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background:  url("../images/ui/background.jpg") lightgray;
}

/*********** HEADER ******************/

header, section {
  margin: 0 auto;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.liens {
  top: 125px;
}

.liens ul {
  display: flex;
  align-content: flex-end;
  justify-content: right;
  flex-wrap: wrap;
}

.liens ul li a {
  padding: 5px 7px 3px 7px;
}

/************ PARTIE MAIN  ******************/

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  align-items: center;
}

section {
  background-color:  rgb(240, 240, 240);
}

.carousel-item img {
  width: 100%;
  height: 27rem;
}

#contenu-produits {
  margin: 74px;
}

#titre-produits {
  background-color: white;
  width: 100%;
}

 

#image-produit {
  padding: 0;
}

#image-produit img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
}

.card-title {
  text-transform: uppercase;
}

.card-body {
  position: relative;
  vertical-align: middle;
  height: 203px;
}

.infos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 165px;
  left: 426px;
  /* right: 14px; */
}

.infos a {
  padding: 7px 22px 7px 17px;
  background-color: #d66a6a;
}

.infos p {
  padding-top: 11px;
  margin-right: 13px;
}

/********************* FOOTER ****************************/

footer {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

#reseaux a {
  padding: 16px 7px 8px 11px;
  border-radius: 33px;
  background-color: #d66a6a;
}

#reseaux a i {
  font-size: 25px;
  color: white;
}

#footer-links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#footer-links ul li a {
  text-decoration: underline;
  color: black;
}

#copyright {
  color: #d66a6a;
}

/* =========================================================================
 * MY CUSTOM STYLE
 * ========================================================================= */

.example-collection {
  margin: auto;
  align-items: center;
}

.example-collection>.collection__item:not(:first-child) {
  margin-top: var(--offset--medium);
}

.brand-logo {
  width: 128px;
}

.page-title {
  color: var(--color--dark-grey);
}

.font-awesome-example {
  color: var(--color--black);
}

/************************* RESPPONSIVE ***********************
****************************************************************/

@media screen and (max-width : 576px) {

}