/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;
  margin: 0;
  min-width: var(--dom--min-width);
  min-height: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background:  url("../images/ui/background.jpg") no-repeat;
}

/*********** HEADER ******************/

header, section {
  margin: 0 auto;
}

header {
  background:  url("../images/ui/background.jpg");
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.logo img {
  height: 150px;
}

.liens {
  top: 125px;
}

.liens ul {
  list-style: none;
  display: flex;
  align-content: flex-end;
  justify-content: right;
  flex-wrap: wrap;
}

.liens ul li a {
  padding: 5px 8px 3px 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.liens ul li {
  transition: all 0.3s ease;
}

.liens ul li:hover a {
border-bottom: 2px solid white;
padding-bottom: 4px;
}

/************ PARTIE MAIN  ******************/

.container {
  width: 70%;
  margin-top: 15px;
  /* margin: 0 auto; */
  padding: 0;
  align-content: center;
  align-items: center;
}

section {
  background-color:  rgb(240, 240, 240);
}

section .col {
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: 27rem;
}

#contenu-produits {
  margin: 74px;
}

#titre-produits {
  background-color: white;
  width: 100%;
}

#image-produit {
  padding: 0;
}

#image-produit img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 12px;
  color:  rgb(82, 82, 82);
}

.card-body {
  position: relative;
  vertical-align: middle;
  height: 203px;
  margin-left: 10px;
}

.card-body p  {
font-size: 14px;
color: rgb(150, 150, 150);
font-weight: bold;
}


.card-text:last-child {
  margin-top: 73px;
  width: 100%;
  text-align: right;
  float: right;
}

.card-text:last-child a {
  padding-left: 7px 22px 7px 17px;
  background-color: #d66a6a;
}

#prix-standard, #prix-promo {
font-weight: bold;
font-size: 18px;
}

#prix-standard, #prix-barre {
  color:  rgb(115, 115, 115);
}

#prix-barre  {
  font-weight: bold;
  font-size: 14px;
  text-decoration: line-through;
}

#prix-promo {
 color: rgb(189, 189, 189);
}

/********************* FOOTER ****************************/

footer {
  justify-content: space-around;
  padding-top: 21px;
  padding-bottom: 27px;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

#reseaux a {
  padding: 16px 7px 8px 11px;
  border-radius: 33px;
  background-color: #d66a6a;
}

#reseaux a i {
  font-size: 25px;
  color: white;
}

#footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 7px;
}

#footer-links ul li a {
  text-decoration: underline;
  color: black;
  padding-right: 10px;
  font-size: 13px;
}

#copyright {
  color: #d66a6a;
}

/* =========================================================================
 * MY CUSTOM STYLE
 * ========================================================================= */

.example-collection {
  margin: auto;
  align-items: center;
}

.example-collection>.collection__item:not(:first-child) {
  margin-top: var(--offset--medium);
}

.brand-logo {
  width: 128px;
}

.page-title {
  color: var(--color--dark-grey);
}

.font-awesome-example {
  color: var(--color--black);
}

/************************* RESPPONSIVE ***********************
****************************************************************/

@media screen and (max-width : 576px) {

}