/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;
  margin: 0;
  min-width: var(--dom--min-width);
  min-height: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: url("../images/ui/background.jpg") no-repeat;
}

/*********** Général **************/
header, section {
  margin: 0 auto;
}
/*********** HEADER ******************/


header {
  background: url("../images/ui/background.jpg");
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.logo img {
  height: 150px;
}

.liens {
  top: 125px;
}

.liens ul {
  list-style: none;
  display: flex;
  align-content: flex-end;
  justify-content: right;
  flex-wrap: wrap;
}

.liens ul li a {
  padding: 5px 8px 3px 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.liens ul li {
  transition: all 0.3s ease;
}

.liens ul li:hover a {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

/************ PARTIE MAIN  ******************/

.container {
  width: 70%;
  margin-top: 15px;
  /* margin: 0 auto; */
  padding: 0;
  align-content: center;
  align-items: center;
}

section {
  background-color: rgb(240, 240, 240);
}

section .col {
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: 27rem;
}

#contenu-produits {
  margin: 74px;
}

#titre-produits {
  text-transform: uppercase;
  background-color: white;
  font-weight: bold;
  color: rgb(82, 82, 82);
  width: 100%;
  font-size: 21px;
}

#image-produit {
  padding: 0;
}

#image-produit img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 12px;
  color: rgb(82, 82, 82);
}

.card-body {
  position: relative;
  vertical-align: middle;
  height: 203px;
  margin-left: 10px;
}

.card-body p {
  font-size: 14px;
  color: rgb(82, 82, 82);
  font-weight: bold;
}

.card-text:last-child {
  margin-top: 73px;
  width: 100%;
  text-align: right;
  float: right;
}

.card-text:last-child a {
  padding-left: 7px 22px 7px 17px;
  background-color: #d66a6a;
  font-weight: bold;
  transition: all 0.2s ease;
}

.card-text:last-child a:hover {
  background:linear-gradient(#e66465,rgb(217, 217, 217));
}

#prix-standard, #prix-promo {
  font-weight: bold;
  font-size: 18px;
}

#prix-standard, #prix-barre {
  color: rgb(115, 115, 115);
}

#prix-barre {
  font-weight: bold;
  font-size: 14px;
  text-decoration: line-through;
}

#prix-promo {
  color: rgb(189, 189, 189);
}

/********************* FOOTER ****************************/

footer {
  justify-content: space-around;
  padding-top: 21px;
  padding-bottom: 27px;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid white;
}

#reseaux a {
  padding: 16px 7px 8px 11px;
  border-radius: 33px;
  background-color: #d66a6a;
  transition: all 0.3s ease;
}

#reseaux a:hover {
  background-color: white;
}

#reseaux a:hover i {
  color:  #d66a6a;
}

#reseaux a i {
  font-size: 25px;
  color: white;
}

#footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 7px;
}

#footer-links ul li a {
  text-decoration: underline;
  color: black;
  padding-right: 10px;
  font-size: 13px;
}

#copyright {
  color: #d66a6a;
}

/************************* RESPPONSIVE ***********************
****************************************************************/

@media screen and (max-width: 576px) {
  body {
    background-image: none;
  }
  .menu {
    position: relative;
    background-image: url("../images/ui/background.jpg");
    height: 140px;
    width: 70%;
    margin: 0 auto;
  }
  .logo {
    position: absolute;
    top: 23px;
    left: 125px;
  }
  .logo img {
    height: 93px;
  }
  .liens {
    top: 52px;
    left: 14px;
  }
  .liens ul {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .liens ul li a {
    font-size: 10px;
    padding-right: 7px;
  }
  .container {
    margin-top: 0;
  }
  .carousel-item img {
    height: 13rem;
  }
  #titre-produits {
    font-size: 15px;
  }
  .card-body {
    height: 107px;
  }
  .card-body p {
    margin-top: 1px !important;
    font-weight: 100;
    font-size: 13px;
  }
  .card-text:nth-child(0) {
    margin-top: 5px;
  }
  .card-text:last-child {
    margin-top: 10px;
  }
  #prix-standard, #prix-promo {
    margin-right: 0 !important;
    font-size: 12px;
  }
  #prix-barre {
    font-size: 10px;
  }
  .btn {
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
  }
  footer {
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  #reseaux, #footer-links, #copyright {
    text-align: center !important;
    margin-top: 5px;
    padding-left: 0;
    padding-bottom: 10px;
  }
  #reseaux a {
    padding: 5px 5px;
  }
  #reseaux a i {
    font-size: 14px;
  }
  #copyright {
    font-size: 14px;
  }
}