/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;
  margin: 0;
  min-width: var(--dom--min-width);
  min-height: 100%;
  flex-direction: column;
  font-family: sans-serif;
}

.liens ul {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

/************ PARTIE MAIN  ******************/

.container {
  width: 100%;
  margin: 0 auto;
}

#slider div img {
  width: 100%;
  height: 27rem;
}

#image-produit img {
  width: 100%;
}

.card {
  width: 92%;
}

.card-title {
  text-transform: uppercase;
}

.card-body {
  /* position: relative; */
vertical-align: middle;
}



.infos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 178px;
  left: 478px;
  right: 14px;
}

.infos a {
  padding: 7px 22px 7px 17px;
}

.infos p {
  padding-top: 11px
}

/********************* FOOTER ****************************/
#footer-links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
} 

#footer-links ul li a {
  text-decoration: underline;
}

/* =========================================================================
 * MY CUSTOM STYLE
 * ========================================================================= */

.example-collection {
  margin: auto;
  align-items: center;
}

.example-collection>.collection__item:not(:first-child) {
  margin-top: var(--offset--medium);
}

.brand-logo {
  width: 128px;
}

.page-title {
  color: var(--color--dark-grey);
}

.font-awesome-example {
  color: var(--color--black);
}