/* =========================================================================
 * BASE
 * ========================================================================= */

/* HTML
 * ------------------------------------------------------------------------- */

html {
  height: 100%;
}

/* BODY
 * ------------------------------------------------------------------------- */

body {
  display: flex;
  margin: 0;
  min-width: var(--dom--min-width);
  min-height: 100%;
  flex-direction: column;
  font-family: sans-serif;
}



/*********** HEADER ******************/
header {
 margin: 0 auto;
}

.liens {
  top: 125px;
}

.liens ul {
  display: flex;
  align-content: flex-end;
  justify-content: right;
  flex-wrap: wrap;
}

.liens ul li a {
  padding: 5px 7px 3px 7px;
}

/************ PARTIE MAIN  ******************/

.container {
  width: 100%;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  height: 27rem;
}

#image-produit img {
  width: 100%;
}

.card {
  width: 92%;
}

.card-title {
  text-transform: uppercase;
}

.card-body {
  /* position: relative; */
vertical-align: middle;
}



.infos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 178px;
  left: 478px;
  right: 14px;
}

.infos a {
  padding: 7px 22px 7px 17px;
}

.infos p {
  padding-top: 11px
}

/********************* FOOTER ****************************/

footer {
  flex-wrap: wrap;
  padding: 15px;
  width: 96%;
}

#reseaux a {
  padding: 5px 7px 5px 7px;
}

#reseaux a i {
  font-size: 27px;
}


#footer-links ul {
  display: flex;
justify-content: space-between;
  list-style: none;
} 

#footer-links ul li a {
  text-decoration: underline;
}






/* =========================================================================
 * MY CUSTOM STYLE
 * ========================================================================= */

.example-collection {
  margin: auto;
  align-items: center;
}

.example-collection>.collection__item:not(:first-child) {
  margin-top: var(--offset--medium);
}

.brand-logo {
  width: 128px;
}

.page-title {
  color: var(--color--dark-grey);
}

.font-awesome-example {
  color: var(--color--black);
}